/* Write your CSS here */
.match-card-container {
  display: flex;
}
.match-card-container2 {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  color: #ffffff;
  font-family: Bree Serif;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  width: 26vw;
  height: 50vh;
  text-align: center;
}
.match-row {
  display: flex;
}

.match-won {
  color: green;
  padding-top: 30px;
}

.match-loss {
  color: red;
  padding-top: 30px;
}
.images-card {
  height: 18vh;
  width: 20vw;
}

@media screen and (max-width: 567px) {
  .match-card-container2 {
    width: 24vh;
  }
  .opposite-team {
    font-size: 13px;
  }
  .opposite-result {
    font-size: 8px;
  }
  .match-loss {
    padding-top: 5px;
  }
  .match-won {
    padding-top: 5px;
  }
}
